<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img th:src="@{/image/hutao.png}" width="2000px" height="500px">
<nav th:replace="~{/layout/menu.html}"></nav>
<p th:text="${massage}"></p>
<ul th:object="${sv}">
    <li th:text="${sv.name}"></li>
    <li th:text="${sv.marks}"></li>
    <li th:text="*{contact.email}"></li>
    <li th:text="${sv.contact.phone}"></li>
    <li th:text="${sv.subjects[0]}"></li>
</ul>
</body>
</html>