<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:text="${x + y}"></li>
    <li th:text="${x % y}"></li>
    <li th:text="not ${x > y}"></li>
    <li th:text="${x gt y} and ${x == y}"></li>
    <li th:text="${x > y} ? OK : Cancel"></li>
    <li th:text="@{|/a/b/${x}/${y}|}"></li> vẫn chạy được aothatday
    <li th:text="'/a/b/' + ${x} + '/'  + ${y}"></li>
    <li th:text="@{/a/b/{p1}/{p2}(p1=${x}, p2= ${y})}"></li>
</ul>
</body>
</html>