<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/layout :: dynamic(~{::body})}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Data Biding</h3>
<form action="/student/save" method="post" th:object="${sv}">
    <input th:field="*{email}" placeholder="Email Address?"><br>
    <input th:field="*{fullname}" placeholder="Full Name?"><br>
    <input th:field="*{marks}" placeholder="Avegare Marks?"><br>
    <input th:field="*{gender}" th:value="true" type="radio">Male
    <input th:field="*{gender}" th:value="false" type="radio">Female<br>
    <select th:field="*{country}">
        <option value="">
            Nationality
        </option>
        <option value="VN">
            Việt Nam
        </option>
        <option value="US">
            United States
        </option>
        <option value=JP"">
            Japan
        </option>
    </select>
    <hr>
    <button>Save</button>
</form>
</body>
</html>