<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar">
    <a th:href="@{/home/index}" th:text="#{nav.home}">Home</a>
    <a th:href="@{/home/about}" th:text="#{nav.about}">About Us</a>
    <a th:href="@{/student/form}" th:text="#{nav.student}">Student</a>
    <a th:href="@{/student/view-form}" th:text="#{nav.validate}">Validation</a>
    [<a href="?lang=vi">Tiếng Việt</a>]
    [<a href="?lang=en">English</a> ]
</nav>
</body>
</html>